<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    % include('extra_head.frag')
    <title>HMP2 Project Visualizations - Stacked Bar Charts</title>

    <style>
      .axis {
	  font: 10px sans-serif;
      }

      .axis path,
      .axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
      }

      .x.axis path {
	  display: none;
      }
      
      div#search {
	  margin: 20px 10px;
      }

      input#sel_sample {
	  width: 25em;
      }

      #searchresults {
	  display: inline;
      }


    </style>
  </head>

  <body onload="window.fillsearchbox();">
    % include('sources.frag')
    % include('header.frag')

    <div class="row">
      <div class="col-md-1 left"></div>
      <div class="col-md-8 middle">	
	<h3>Your Microbial Abundance Profile</h3>
	
	<div id="search">
	  <label for="sel_sample">Subject ID:  </label>
	  <input type="text" id="sel_sample" 
		 placeholder="Type in subject ID here"
		 onkeyup="window.search(this);">
	  <div id="searchresults"></div>
	</div>


	<div id="plot_area"></div>
	<p>
	  This diagram represents the proportions of different groups
	  (phyla) of microbes in your gut from to most recent samples
	  you've provided. For security and privacy reasons, we're not
	  allowed to label these samples with specific dates, so up to the
	  12 most recent samples are shown. This allows you to see how
	  your own microbial community varies over time.
	</p>

      </div>
    </div>
    <script>
      % include('index_scripts.js')
      % include('plot_bar.js')
    </script>
  </body>
</html>
