<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    % include('extra_head.frag')
    <title>HMP2 Project Visualizations - Principal Coordinates Plot</title>
    <style>
      .axis path,
      .axis line {
	  fill: none;
	  stroke: #222;
	  shape-rendering: crispEdges;
      }

      .dot {
	  stroke: #000;
      }

      div#search {
	  margin: 20px 10px;
      }

      input#sel_sample {
	  width: 25em;
      }

      #searchresults {
	  display: inline;
      }

    </style>
  </head>

  <body onload="fillsearchbox();">
    % include('sources.frag')
    % include('header.frag')    
    <div class="row">
      <div class="col-md-1 left"></div>
      <div class="col-md-8 middle">
	<h3>Your Gut Similarity Compared to Others</h3>

	<div id="search">
	  <label for="sel_sample">Subject ID:  </label>
	  <input type="text" id="sel_sample" 
		 placeholder="Type in subject ID here"
		 onkeyup="search(this);">
	  <div id="searchresults"></div>
	</div>

	<div id="plot_area"></div>

	<p>This diagram shows all stool samples collected from all
	  participants in the IBD Multi'omics project. Each dot represents a
	  single sample, and the distance between points indicates how
	  dissimilar they are. The closer together two samples' points
	  appear, the more similar their microbial communities are. Your
	  samples as collected over time are marked in red, so you can see
	  how your own gut microbiome changes over time and in relation to
	  other participants' guts.</p>
	
      </div>
    </div>
    <script>
      % include('index_scripts.js')
      % include('plot_pcoa.js')
    </script>
  </body>
</html>
